@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

body{
    background: url("./img/download\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
   display: flex; 
   justify-content: center;
   align-items: center;
   min-height: 110vh;
   background: rgba(171, 171, 171, 0.3);
}

.nav{
   position: fixed;
   top: 0;
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 100px;
   line-height: 100px;
   background: linear-gradient(rgb(181, 213, 255), transparent);
   z-index: 100;
}

.nav-logo p{
    color: rgb(99, 94, 94);
    font-size: 25px;
    font-weight: 600;
} 
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: rgb(99, 94, 94);
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover{
    border-bottom: 2px solid rgb(217, 130, 210);
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgb(162, 69, 144);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color:#fff;
}

.btn:hover{
    opacity: 0.75;
    transform: scale(0.9);
}

.nav-menu-btn{
    display: none;
}

/*register form*/

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 420px;
    z-index: 2;
    border:  2px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-sizing: border-box;
}


.register-container{
    position: absolute;
    left: 4px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    margin-left: 20px;
}
.top{
  
  color: #fff;
  text-align: center;
  font-size: 30px;

}
.two-forms{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.input-field{
    font-size: 15px;
    background: rgba(182, 126, 175, 0.644);
    color: rgb(99, 94, 94);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
   background: rgba(204, 174, 201, 0.644);
}
::-webkit-input-placeholder{
    color: rgb(99, 94, 94);
}
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(99, 94, 94);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(247, 233, 245, 0.748);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    opacity: 0.75;
    transform: scale(0.9);
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: rgb(99, 94, 94);
    font-size: small;
    margin-top: 10px;
}

.two-col .one{
    display: flex;
    gap: 5px;
}

.two-label a{
    text-decoration: none;
    color: #fff;
}

.two-label a:hover{
    text-decoration: underline;
}

.data-base {
  display: none;
}

.data-base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25%;
}
table{
    
    width: 100%; 
    margin: auto; 
    text-align: center; 
    border-collapse: collapse; 
}

 table caption{
    caption-side: top;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(99, 94, 94);
}

table td, table th{
   border: 2px solid #c461b4;
   padding: 10px;
   text-align: center;
   color: rgb(99, 94, 94);
   width: 240px;
   
}




@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}